$opacity: .9;
/*
#mobile-nav {
	position: fixed;
	@include header-rgba($blue);
	top: 0;
	left: 0;
	z-index: 995;
	display: none;
	width: 100%;
	height: 100%;
	transition: all ease-in-out .3s;
	transform: translateX(-100%);
	.menu {
		height: 100%;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		text-align: center;
		height: 100%;
	}
	li {
		padding: 10px 0;
		a {
			color: #fff;
			text-transform: uppercase;
		}
		ul {
			transition: all .4s ease-in-out;
			transform: translateX(-100%) translateY(0);
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 9999;
			background: $blue;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			&.triggered {
				transform: translateX(0);
			}
		}
	}
}
*/
/*
.menu-bar {
	border-radius: 50%;
	height: 35px;
	position: fixed;
	right: 10px;
	text-align: center;
	top: 10px;
	z-index: 9999;
	display: none;
	@media(max-width: 950px) {
		display: block;
	}
	.toggle {
		-moz-appearance: none;
		border: medium none;
		box-shadow: none;
		cursor: pointer;
		display: block;
		font-size: 0;
		height: 35px;
		margin: 0 auto;
		min-height: 1px;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-indent: -9999px;
		transition: background .25s ease 0s;
		width: 45px;
		span {
			display: block;
			height: 5px;
			left: 8px;
			position: absolute;
			right: 8px;
			top: 16px;
			width: 30px;
			transition: background-color 0s ease .25s;
			&:before,
			&:after {
				background-color: $blue;
				content: "";
				display: block;
				height: 5px;
				left: 0;
				position: absolute;
				transition-delay: .3s, 0s;
				transition-duration: .3s, .3s;
				width: 100%;
			}
			&:before {
				top: -8px;
				transition-property: top, transform;
			}
			&:after {
				bottom: -8px;
				transition-property: bottom, transform;
			}
		}
	}
}
*/

.list-nav {
	list-style: none;
	>li {
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
		position: relative;
		&.nav-color-pink {
			a > .nav-item-bg:after, a > .nav-item-bg:before {
				background-color: $pink;
			}
		}
		&.nav-color-blue {
			a > .nav-item-bg:after, a > .nav-item-bg:before {
				background-color: $blue;
			}
		}
		&.nav-color-white {
			a > .nav-item-bg:after, a > .nav-item-bg:before {
				background-color: $white;
			}
		}
		a {
			font-size: 24px;
			font-weight: 900;
			display: block;
			overflow: hidden;
			position: relative;
			text-decoration: none;
			> .nav-item-fg {
				background-color: $white;
				color: $black;
				display: block;
  				mix-blend-mode: darken;
				position: relative;
				padding: 10px 15px;
				/*text-shadow: 1px 1px 0px $pink, -1px -1px 0px $blue;*/
				z-index: 4;
			}
			>  .nav-item-bg {
				display: block;
				bottom: 0;
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
				&:after, &:before {
					bottom: 0;
					content: '';
					height: 100%;
					position: absolute;
					top: 0;
					transition: right 1s cubic-bezier(.11,.53,.47,.91), left 1s cubic-bezier(.11,.53,.47,.91);
					width: 100%;
				}
				&:after {
					right: 100%;
					z-index: 3;
				}
				&:before {
					left: 100%;
					z-index: 1;
				}
			}
			&:hover {
				>  .nav-item-bg {
					&:after {
						right: 0;
					}
					&:before {
						left: 0;
					}
				}
			}
		}
		ul {
			display: none;
			font-size: 14px;
			left: 0;
			min-width: 100%;
			white-space: nowrap;
			padding: 0;
			position: absolute;
			top: 100%;
			z-index: 1000;
			li {
				display: block;
				position: relative;
				&:hover {
					ul {
						display: block;
					}
				}
			}
			ul {
				left: 100%;
				top: 0;
			}
		}
		&:hover {
			>ul {
				display: block;
			}
		}
	}
}

.hidden-header-home {
	pointer-events: none;
    position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
    .overlay {
		opacity: 0;
		pointer-events: none;
		transition: opacity 1s ease, pointer-events 1s ease 1s;
		visibility: hidden;
        background-color: rgba(0, 0, 0, .8);
        height: 100%;
        width: 100%;
	}
	.region--header {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.1s ease 2s, pointer-events 1s ease 1s;
		visibility: hidden;
		bottom: 0;
		height: 340px;
		overflow: auto;
		left: 0;
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		padding: 30px;
		position: absolute;
		right: 0;
		text-align: center;
		top: -100px;
		width: 500px;
		.header-navigation {
			display: block;
			.list-nav {
				background-color: $gray;
				display: block;
				margin: 0;
				padding: 0;
			}
		}
	}
	li {
		display: block;
	}
	&.show-nav {
		pointer-events: auto;
    	.overlay {
			opacity: 1;
			pointer-events: auto;
			transition: opacity 0.1s ease, pointer-events 0.1s ease;
			visibility: visible;
		}
		.region--header {
			opacity: 1;
			pointer-events: auto;
			transition: opacity 0.1s ease, pointer-events 0.1s ease;
			visibility: visible;
		}
	}
}
