/**
 * @file
 *
 * Styles for the home page.
 */
body, html {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#answer {
    bottom: 0;
    color: $black;
    cursor: pointer;
    font-family: "Open Sans", Arial Black, sans-serif;
    font-size: 10em;
    font-weight: 600;
    height: 1em;
    line-height: 1em;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#click-here {
    font-size: .1em;
    font-weight: 400;
    color: lighten($black, 30%);
    line-height: 1em;
    margin-top: 30px;
    #arrow {
        display: block;
        animation: click_transform 5s infinite;
        -moz-animation: click_transform 5s infinite;
        -webkit-animation: click_transform 5s infinite1;
        -o-animation: click_transform 5s infinite;
    }
}

@keyframes click_transform {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}