<nav role="navigation" class="header-navigation">
	<ul class="list-nav">
		{% for item in site.data.nav_menus %} 
			{% if item.name == 'Main Nav' %}
				{% for nav in item.items %}
					{% if nav.page.id == page.page_id %} 
						{% assign active_class = "active" %} 
					{% else %} 
						{% assign active_class = "" %} 
					{% endif %}  
					{% if nav.children %}
						<li class="has-dropdown {{active_class}}">
							<a href="{{site.url}}/{{ nav.page.url }}">{{ nav.page.name }}</a>
							<ul class='dropdown'>
								{% for child in nav.children %}
								<li>
									<a href="{{site.url}}/{{ child.page.url }}">{{ child.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						{% if nav.page.name == "Home" %}
							<li class="{{active_class}}">
								<a href="{{site.url}}">{{ nav.page.name }}</a>
							</li>
						{% elsif nav.link_type == "external" %}
							<li class="{{active_class}}">
								<a target="{{ nav.target }}" href="{{ nav.link }}">{{ nav.name }}</a>
							</li>
						{% else %}
							<li class="{{active_class}}">
								<a href="{{site.url}}/{{ nav.page.url }}">{{ nav.page.name }}</a>
							</li>
						{% endif %} 
					{% endif %} 
				{% endfor %}
			{% endif %}  
		{% endfor %}
	</ul>
</nav>